# **Exercise 1 Python**

Introduction to Software & Data Engineering with Python - Sekolah Engineering - Pacmann Academy

Materi yang diujikan pada exercise ini adalah
1. A Good First Program
2. Primitive Data Structure
3. Boolean
4. Branching

## **A Good First Program**

### **Printing**

**Case Study 1**

#### **1a**
Cobalah tampilkan nama Anda menggunakan perintah print!

In [ ]:
# Code in here
...

Joko

#### **1b**
Cobalah print text di bawah ini!

Saya sedang belajar melakukan perintah print pada Python

In [ ]:
# Code in here
...

Saya sedang belajar melakukan perintah print pada Python

#### **1c**
- Misalkan terdapat sebuah segitiga dengan tinggi 3 cm dan alas 2 cm.
- Cobalah print tinggi dari segitiga tersebut!

In [ ]:
# Code in here
...

3

### **Variabel**

**Case Study 2**

- Variabel merupakan tempat menyimpan sebuah nilai ataupun data.
- Kita dapat membuat variabel dengan menggunakan syntax sebagai berikut:
```python
nama_variabel = <nilai>
```
- Nilai dapat berupa teks maupun angka/bilangan.

#### **2a**
Misalkan kita ingin membuat sebuah variabel yang menyimpan nama kita

- Nama Variabel = nama
- Isi dari Variabel = "nama kita"

In [ ]:
# Code in here
...

#### **2b**
Misalkan kita ingin membuat sebuah variabel yang menyimpan text **"Saya sedang belajar membuat variabel"**

- Nama Variabel = text
- Isi dari Variabel = "Saya sedang belajar membuat variabel"

In [ ]:
# Code in here
...

#### **2c**
Perhatikan contoh variabel di bawah ini!
```python
tinggi_trapesium_yang_saya_miliki = 5
```

Pada Video Learning sebelumnya, kita telah belajar mengenai Bad and Good Variables. Contoh variabel di atas merupakan variabel yang buruk. Buatlah variabel yang baik dari contoh di atas!

In [ ]:
# Code in here
...

### **More Printing!!**

**Case Study 3**

Setelah sebelumnya kita telah mempelajari mengenai variabel, maka sekarang kita akan belajar bagaimana caranya menampilkan isi dari variabel yang telah kita buat sebelumnya.

Misalkan kita membuat variabel yang akan menyimpan nama dan umur seseorang. Kemudian kita ingin menampilkan isinya.

- nama = "Mark Zuckerberg"
- umur = 38

#### **3a**
Tampilkanlah isi dari variabel nama!

In [ ]:
# Code in here
...

Mark Zuckerberg

#### **3b**
Tampilkanlah isi dari variabel umur!

In [ ]:
# Code in here
...

38

#### **3c**

Apakah output yang akan dihasilkan dari potongan *code* di bawah ini?
- nama = "Mark Zuckerberg"
- umur = 38
- print(Ini adalah %s. Beliau berumur %s tahun." % (nama, umur))

In [ ]:
# Code in here
...

Ini adalah Mark Zuckerberg. Beliau berumur 38 tahun.

### **Commenting**

**Case Study 4**
- Commenting merupakan sebuah komentar yang digunakan untuk memperjelas maksud dari sebuah proses ataupun sebuah perintah.
- Apabila dijalankan commenting tidak akan melakukan eksekusi apapun.
- Commenting diperlukan untuk mempermudah kita mengerti suatu program.
- Commenting juga akan mempermudah orang lain yang hendak membaca program kita kelak.

#### **4a**

- tinggi_trapesium = 4 cm
- print(tinggi_trapesium)

Berilah komentar pada code di atas menggunakan inline comment!

In [ ]:
# Code in here
...

#### **4b**
Berilah comment pada code di bawah ini!

In [ ]:
# Code in here
# Masukkan comment di titik - titik di bawah ini

...
print("17 Agustus adalah hari kemerdekaan Indonesia")

#### **4c**

Terdapat dua code di bawah ini

- luas_persegi = sisi_persegi * sisi_persegi # mencari luas persegi
- luas_persegi = sisi_persegi * sisi_persegi # Ini adalah baris yang digunakan untuk mencari luas persegi sebagai hasil perkalian sisi persegi dengan sisi persegi

Manakah code yang memiliki komentar yang baik?

Isi jawaban di titik - titik di bawah ini

...

### **Error**


Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:
- Perhatikan error outputnya
- Cobalah untuk googling mengenai error tersebut
- Kemudian cobalah code yang telah digoogling sebelumnya
- Apabila masih belum *solve*, cobalah untuk googling kembali

**Case Study 5**

Pak Joko memiliki 3 orang anak. Setiap hari ia selalu memberikan uang saku kepada ketiga anaknya dengan rincian sebagai berikut:
- Anak Pertama: 25.000
- Anak Kedua 15.000
- Anak Ketiga 10.000

#### **5a**
Misalkan kita melakukan print pada uang jajan anak pertama menggunakan perintah dibawah ini:

In [ ]:
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

PRINT(anak1):

SyntaxError: ignored

In [ ]:
#Code in here
...

#### **5b**
Misalkan kita melakukan print pada uang jajan anak kedua menggunakan perintah dibawah ini:

In [ ]:
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

print(ANAK_2)

NameError: ignored

In [ ]:
# Code in here
...

#### **5c**
Misalkan kita ingin menjalankan potongan code di bawah ini

- print("Uang saku anak pertama adalah 25.000")
    - print("Uang saku anak kedua adalah 15.000")
- print("Uang saku anak ketiga adalah 10.000")

In [ ]:
print("Uang saku anak pertama adalah 25.000")
  print("Uang saku anak kedua adalah 15.000")
print("Uang saku anak ketiga adalah 10.000")

IndentationError: ignored

In [ ]:
# Code in here
...

# **Primitive Data Structure**

### Case 1: Tanah Pak Banu

Pak Banu memiliki sebidang tanah berbentuk Persegi Panjang dengan panjang 80 meter dan lebar 50 meter.

![1.jpg](https://sekolahdata-assets.s3.ap-southeast-1.amazonaws.com/notebook-images/mds-python-indo/1a.jpg)

#### **1A**

Berapakah luas tanah Pak Banu ?

In [ ]:
# definisikan variabel panjang dan lebar
...

# cari luas tanah menggunakan rumus luas persegi
# luas persegi = panjang * lebar
...

# tampilkan luas tanah
...

Luas tanah Pak Banu = 4000 m^2

#### **1B**
Pak Banu berencana untuk menanaminya dengan pohon jeruk. Jika pohon jeruk akan ditanam di tanah yang Pak Banu miliki, dan jarak antar pohon 5 * 5 meter, berapakah jumlah bibit pohon jeruk yang dibutuhkan Pak Banu ?

![12.jpg](https://sekolahdata-assets.s3.ap-southeast-1.amazonaws.com/notebook-images/mds-python-indo/1b.jpg)

```
Keterangan :
Rumus menghitung jumlah pohon
jumlah pohon di sisi panjang = (panjang tanah / jarak pohon ) + 1
jumlah pohon di sisi lebar = (lebar tanah / jarak pohon ) + 1
total pohon = jumlah pohon di sisi panjang * jumlah pohon di sisi lebar

```

In [ ]:
# definisikan variabel constant jarak antar pohon
...

# hitung jumlah bibit pohon
# pakai variabel panjang dan lebar tanah di soal 1A
...

# tampilkan jumlah bibit pohon jeruk
...

Jumlah bibit pohon jeruk yang dibutuhkan = 187 pohon

#### **1C**

Diketahui saat panen setiap pohon akan menghasilkan rata-rata 15 kg jeruk. Pak Banu menjual jeruk tersebut dengan harga 18.000 per kilogram. Berapakah pendapatan **(revenue)** yang didapatkan Pak Banu jika diasumsikan seluruh jeruk terjual ?


```
Keterangan:
rumus revenue = jumlah barang * harga
```

In [ ]:
# definisikan variabel jumlah hasil per pohon dan harga per kilogram jeruk
...

# cari total keseluruhan total berat jeruk terlebih dahulu
# pakai variabel total pohon yang dibutuhkan pada soal 1C
# hitung dahulu hasil total jeruk = hasil per pohon * jumlah pohon
...

# hitung pendapatan atau revenue
...

# tampilkan revenue yang didapatkan
...

Revenue yang didapatkan = Rp 50490000

#### **1D**

Jika modal yang dibutuhkan untuk pekerja, pupuk, obat tanaman, peralatan, dll adalah sekitar 9.000.000 rupiah, berapakah keuntungan bersih yang didapatkan Pak Banu ?



```
Keterangan :
rumus laba bersih = total pendapatan - total pengeluaran
```

In [ ]:
# definisikan variabel untuk biaya berkebun
...

# hitung untung bersih yang didapatkan
# Gunakan variabel revenue dari soal nomer 1C
...

# tampilkan keuntungan bersih yang didapatkan
...

Keuntungan bersih yang didapatkan = Rp 41490000

### Case 2: Donat Bu Ida

Bu Ida baru saja merintis berjualan kue donat. Dalam 10 kue donat menghabiskan dana sekitar Rp 70.000 untuk bahan-bahan dan Rp 10.000 untuk operasional.

####**2A**
Hitunglah biaya produksi 10 kue donat Bu Ida

```
keterangan:
biaya produksi = biaya bahan + biaya operasional
```

In [ ]:
# definisikan variabel biaya bahan dan biaya operasional
...

# hitung biaya produksi
...

# tampilkan biaya produksi 10 donat yang sudah di hitung
...

Biaya produksi 10 donat Bu Ida = Rp 80000

#### **2B**

Jika Bu Ida ingin mendapatkan keuntungan sebanyak 20%, berapa harga donat per biji yang harus ditetapkan ?
```
keterangan :
harga jual produk = biaya produksi + (prosentase keuntungan * biaya produksi)
```

In [ ]:
# definisikan variabel prosentase keuntungan
...

# hitung harga jual produk
...

# perlu diketahui bahwa harga di atas adalah harga 10 produk
# untuk mengetahui harga per biji maka harus dibagi 10
# hitung harga per produk
...

# tampilakn harga kue donat per biji
...

Harga donat per biji adalah = Rp 9600

### Case 3: Dana Pensiun Bruno

Bruno adalah seorang pekerja swasta. Supaya tidak menggantungkan diri kepada anaknya dia ingin menyiapkan dana untuk masa pensiun nanti. Untuk itu, Bruno mengikuti program dana pensiun dari suatu lembaga keuangan.  Dengan asumsi Bruno akan pensiun dari pekerjaanya pada usia 55 tahun dan usia yang bisa di ikuti dalam program dana pensiun tersebut adalah sampai usia 80 tahun.

#### **3A**

Jika total biaya hidup Bruno saat ini adalah sekitar 4.000.000 per bulan. Berapakah tabungan pensiun yang harus disiapkan ?



```
keterangan:
biaya pensiun = biaya hidup per bulan x 12 (jumlah bulan dalam satu tahun) x rentang umur
```

In [ ]:
# definisikan variabel biaya hidup per bulan
...

# definisikan variabel umur saat pensiun
# dan umur maksimal pada program dana pensiun
...

# hitung rentang umur saat mengikuti program dana pensiun
# rentang umur = umur max - umur pensiun
...

# hitung biaya pensiun yang dibutuhkan
...

# tampilkan hasil perhitungan biaya pensiun
...

Biaya pensiun yang harus disiapkan Bruno  adalah = Rp 1200000000

#### **3B**
Jika saat ini Bruno berusia 25 tahun. Berapakah gaji yang harus disisihkan per bulan untuk tabungan pensiunnya ?

In [ ]:
# definisikan umur Bruno sekarang
...

# hitung lama bruno harus menabung
# lama menabung = umur pensiun - umur sekarang
...

# hitung jumlah tabungan dalan satu tahun yang harus dikumpulkan
# tabungan dalam satu tahun = biaya pensiun / lama menabung
...

# hitung tabungan per bulan yang harus dikumpulkan
# tabungan per bulan = jumlah tabungan dalam satu tahun / 12 (jumlah bulan)
...

# tampilkan hasil perhitungan tabungan per bulan
...

tabungan per bulan untuk pensiun : Rp  3333333.33

### Case 4: Data Administrator

Seorang Data Administrator di Perusahaan S yang baru saja masuk ke kantor diberi task oleh bosnya untuk mengambil data seorang karyawan. Datanya sebagai berikut:

| Nama | NIK | Jenis Kelamin | Alamat | Jabatan |
|-|-|-|-|-|
|Enzo Ferdinand | 223312 | Laki-Laki | Jl. Mawar No. 13, Kota A | Marketing Staff|

####**4A**

Ambil karakter pertama dari nama awal karyawan tersebut, kemudian ambil juga nama terakhir. Setelah itu gabungkan keduanya sehingga menjadi `E. Ferdinand`

In [ ]:
# definisikan variabel nama karyawan dahulu
...

# lakukan slicing untuk mendapatkan karakter pertama nama awal
...

# lakukan slicing untuk mendapatkan nama terakhir
...

# gabungkan nama awal dan nama terakhir
...

# tampilkan nama yang sudah digabung
...

Nama Karyawan = E. Ferdinand

#### **4B**

Posisi Manager Marketing di Perusahaan tersebut sedang kosong karena suatu hal. Pimpinan perusahaan mempromosikan E. Ferdinand di posisi tersebut karena pekerjaannya memberi pengaruh besar kepada perusahaan. Ubah jabatan karyawan tersebut dari Marketing Staff menjadi Marketing Manager.

In [ ]:
# definisikan variabel untuk menampung jabatan karyawan tersebut
...

# ganti kata Staff menjadi Manager
...

# tampilkan nama karyawan dan jabatannya sekarang
...

Jabatan Bapak E. Ferdinand adalah Marketing Manager

### Case 5: Analisa Lirik Lagu

Alexa sangat menyukai band Bonjovi, terutama lagunya yang berjudul `it's my live`. Sangking sukanya Alexa sampai membuat analisis pada bagian reff lagu tersebut

In [ ]:
lyrics =  '''
It's my life
It's now or never
But I ain't gonna live forever
I just want to live while I'm alive
It's my life
My heart is like an open highway
Like Frankie said, I did it my way
I just want to live while I'm alive
It's my life
'''

#### 5A

Sebelum melakukan analisis baiknya dilakukan pembersihan data dahulu. Beberapa caranya adalah:
- Membuat huruf menjadi kecil semua,  
- Menghilangkan karakter yang tidak diinginkan seperti tanda petik (`'`) dan tanda koma (`,`)



Catatan :

Untuk **menghilangkan** suatu karakter bisa menggunakan method `replace`. Maksudnya karakter tersebut **diganti atau di-replace** dengan **empty string** `("")`

Contoh :

Kita akan menghilangkan huruf `"b"` dari kata `"bisa"`
```
NAMA_VAR = "bisa"
NAMA_VAR = NAMA_VAR.replace('b', "")
# output
print(NAMA_VAR)
"isa"
```

In [ ]:
# buatlah huruf di variabel lyrics menjadi huruf kecil semua
...

# hilangkan tanda petik dengan method replace
...
# hilangkan tanda koma dengan method replace
...

# tampilakn lirik yang sudah di lakukan pembersihan data
...

its my life
its now or never
but i aint gonna live forever
i just want to live while im alive
its my life
my heart is like an open highway
like frankie said i did it my way
i just want to live while im alive
its my life

####**5B**

Berapa banyak karakter dalam lirik tersebut?

In [ ]:
# definisikan variabel dan hitung banyak karakter dengan method python
...

# tampilkan banyak karakter dalam lirik tersebut
...

Banyak karakter dalam lirik adalah 222 karakter

#### **5C**

Berapakah banyak kemunculan kata `life` dalam lirik tersebut

In [ ]:
# definisikan variabel dan hitung kemunculan kata life dengan method python
...

# tampilkan banyak kemunculan kata tersebut
...

Kemunculan kata 'life' sebanyak 3 kali

####**5D**

Berapakah prosentase kemunculan karakter `life` dalam lagu tersebut
```
keterangan:
prosentase = (jumlah kemunculan / total karakter) * 100
```

In [ ]:
# definisikan variabel dan hitung prosentase kemunculan karakter life
...

# tampilkan prosentase kemunculan karakter life dalam lirik tersebut
...

prosentase kemunculan karakter life dalam lirik yaitu 1.35%

# **Boolean**

Buatlah variabel boolean dengan nama variabel_1 dan variabel_2 masing masing True dan False

In [ ]:
# Code in here
...

Gunakan variabel_1 dan variabel_2 sebelumnya dengan operasi boolean tidak sama dengan

In [ ]:
# Code in here
...

True

Cek nilai bolean dari operasi berikut: 10 >= 11

In [ ]:
# Code in here
...

False

Buatlah operasi boolean dengan pernyataan 6 lebih besar 7  dengan  dari 1

In [ ]:
# Code in here
...

False

Ubahlah operator pada operasi boolean diatas sehingga menghasilkan nilai boolean yang berkebalikan

In [ ]:
# Code in here
...

True

Masukkan nilai variabel a sehingga nilai boolean dari operasi berikut bernilai True

In [ ]:
# Code in here
a = ... #nilai apapun yang melebih atau sama dengan nilai 10
b = 10

a >= b

True

Tambahkan operasi dibawah ini kedalam python menggunakan variabel a dan b sebelumnya

    a tidak sama dengan b dan a lebih besar dari b

In [ ]:
# Code in here
...

Buatlah variabel angka_1 lalu buatlah sesuai dengan pernyataan operasi berikut

    angka_1 lebih besar sama dengan 6 tidak sama dengan angka_1 lebih kecil dari 12

Buatlah agar mengeluarkan output True

In [ ]:
# Code in here
...

True

Ubahlah operator tidak sama dengan menjadi operator logic and pada operasi sebelumnya. buatlah agar output booleannya menjadi False:

In [ ]:
# Code in here
...

False

Cek apakah jarak rumah budi ke sekolah 250 meter, lebih jauh dari jarak rumah tono ke sekolah 223 meter.

In [ ]:
# Code in here
jarak_rumah_budi = ... #meter
jarak_rumah_tono = ... #meter

...

True

Cek apakah jika nama Cynthia dan nama Cynth'ia itu sama dengan menggunakan operator boolean

In [ ]:
# Code in here
...

False

Masukkan nilai ke dalam variable a, b dan c sehingga nilai boolean dari operasi logika berikut menjadi False (untuk angkanya bebas)

    (a > b AND a > c ) OR (b < c)

In [ ]:
a = ...
b = ...
c = ...

...

False

Dengan operasi logika sebelumnya ubah nilai variabel sehingga menjadi True

In [ ]:
a = ...
b = ...
c = ...

...

True

Cek apakah nilai x lebih kecil atau sama dengan y bila diketahui: y = 3$x^{2}$ + 4x - 27 dan x = 3

In [ ]:
# Code in here
...

True

Dari soal sebelumnya, jika ditambahkan nilai z = 3x + 5$y^{2}$ - 18, tentukan hasil operasi berikut :

    (z > y) AND (x < z OR x >= y)

In [ ]:
# Code in here
...

False

<details>
    <summary><b>Klik untuk melihat kunci jawaban</b></summary>

```python
z = 3*x + 5*y**2 - 18

(z>y) and (x<z or x >=y)
```

</details>

---

# **Branching**

Buatlah program yang menentukan apakah seseorang dapat membuat SIM atau tidak. Batas usia minimum pembuatan SIM adalah 18 tahun.

In [ ]:
# Code in here
...

Buat program yang mengecek apakah sebuah variable memiliki tipe data string, float atau integer

In [ ]:
# Code in here

var = ...

...

tipe data 2.0 adalah float

Buatlah program yang mengecek apakah sebuah bilangan habis di bagi 5 atau tidak

In [ ]:
# Code in here

angka_1 = ...

...

angka memiliki sisa 2

Cek yang manakah paragraf di bawah ini yang memilik jumlah karakter lebih banyak?

    lirik_1 =
            "This ain't a song for the broken-hearted No silent prayer for faith-departed And I ain't gonna be just a face in the crowd You're gonna hear my voice when I shout it out loud"
            
    lirik_2 =
            "Yeah, this is for the ones who stood their ground For Tommy and Gina,
            who never backed down Tomorrow's getting harder, make no mistake Luck
            ain't even lucky, got to make your own breaks"

In [ ]:
# Code in here

lirik_1 = ...
lirik_2 = ...

...

lirik_2 memiliki karakter lebih banyak

Minimaket "AAA" memberikan diskon 10% bagi pelanggan yang total belanjannya diatas Rp. 100.000. Ani belanja di minimarket A dengan rincian belanja sebagai berikut:


| barang      | Sub total harga  |
|-------------|--------|
| 1 Sabun Mandi | 25000  |
| 2 Sabun Cuci| 2 x 18000 |
| 1 Kotak Susu | 48000  |
| 2 Pasta Gigi | 2 x 11000  |



Buat program yang menentukan apakah total belanja Ani mendapat diskon atau tidak. Cetak total belanja yang harus di bayar Ani.

In [ ]:
# Code in here
...

Ani mendapat diskon sebesar 13100.0 dan total belanja setelah diskon adalah 117900.0

Buatlah program yang menentukan kategori generasi seseorang berdasarkan tahun lahirnya. Kondisi pengkategoriannya sebagai berikut:
 - Baby boomer, kelahiran 1944 s.d 1964
 - Generasi X, kelahiran 1965 s.d 1979
 - Generasi Y (Millenials), kelahiran 1980 s.d 1994
 - Generasi Z, kelahiran 1995 s.d 2015

In [ ]:
# Code in here
...

Anda adalah Generasi Z

Dinas Kesehatan ingin melakukan vaksinasi tahap 1, dengan syarat, warga yang akan di vaksin berprofesi sebagai petugas pelayanan umum seperti TNI, Polri Perawat atau Dokter. Di luar profesi tersebut maka ia bukan prioritas program vaksinasi. Jika usia petugas pelayanan umum kurang dari 50 tahun maka akan di berikan vaksin buatan Sinovac namun jika berusia 50 tahun ke atas maka akan diberikan vaksin Novavax.

note: soal di atas hanya fiktif

Buatlah program untuk menentukan target dan vaksin yang akan diberikan terhadap kasus tersebut.

In [ ]:
# Code in here
...

Andi akan di berikan vaksin Sinovac

Buatlah program yang menerima input bilangan (x), kemudian akan melakukan perintah berikut:
- n bernilai 8
- Jika x ganjil, maka print "ganjil"
- Jika x genap dan berada pada rentang 2 sampai 7, print (genap di bawah 7)
- Jika x genap dan berada pada rentang 8 sampai 28, print (genap antara 8-28)
- Jika x genap dan lebih besar dari 28, print (genap antara ditas 28)

In [ ]:
# Code in here
...

genap antara 8-28

Buatlah program yang mengkonversi nilai 1-100 kedalam bentuk nilai (A, B, C, D, F). dengan syarat:

- Nilai 90 hingga 100 dikonversi menjadi A
- Nilai 80 hingga 89 dikonversi menjadi B
- Nilai 70 hingga 79 dikonversi menjadi C
- Nilai 65 hingga 69 dikonversi menjadi D
- dan dibawah nilai 65 dikonversi menjadi F

In [ ]:
# Code in here
...

B

Diberikan tiga buah variabel a, b dan c yang masing-masing berisi nilai integer. Tentukan yang variabel manakah yang memiliki nilai terbesar?

In [ ]:
# Code in here
...

b memiliki nilai terbesar

Buatlah program yang menentukan apakah sebuah nilai merupakan bilangan negatif, positif, atau nol.

In [ ]:
# Code in here
...

Bilangan Positif

Buatlah program untuk mencari siapa yang tertua dari 3 orang.
   
    * Input:
    ```
        orang_1 = 40
        orang_2 = 25
        orang_3 = 37
    ```
    * Output:
        ```
        Orang yang tertua adalah orang pertama
        ```

In [ ]:
# Code in here
...

Orang Tertua adalah orang ketiga

Sebuah perusahaan akan memberikan bonus 10% dari gaji masing-masing pegawai kepada pegawainya jika pegawainya telah bekerja selama minimal 5 tahun.

    * Input:
```
kasus 1: gaji = 5000 ; masa bakti = 2
kasus 2: gaji = 10000; masa bakti = 6
```
    * Output:
```
kasus 1: Tidak ada bonus
kasus 2: Bonus adalah 500
```

In [ ]:
# Code in here
...

Buatlah Program Nested Branching Menentukan tahun kabisat dengan ketentuan

1. Jika satu tahun habis dibagi 4 dan tidak ada sisa, lanjutkan ke langkah berikutnya. Jika tidak habis dibagi 4. Bukan tahun kabisat.
2. Jika suatu tahun habis dibagi 4, tetapi tidak habis dibagi 100, itu adalah tahun kabisat. Jika satu tahun habis dibagi 4 dan 100, lanjutkan ke langkah berikutnya.
3. Jika suatu tahun habis dibagi 100, tetapi tidak habis dibagi 400 maka itu bukan tahun kabisat. Jika tahun habis dibagi keduanya maka tahun tersebut adalah tahun kabisat.

    * Input:
```
kasus 1: tahun = 2024
kasus 2: tahun = 2013
```
    * Output:
```
kasus 1: 2024 adalah tahun kabisat
kasus 2: 2013 bukan tahun kabisat
```

In [ ]:
# Code in here
...

2025 bukan tahun kabisat

Buatlah program nested branching menentukan nilai
  1. Jika presensi kurang dari atau sama dengan tiga, lanjut ke langkah berikutnya
  2. Jika avarage nilai lebih atau sama dengan 80 maka "nilai A"
  3. Jika avarage nilai lebih atau sama dengan 70 maka "nilai B"
  4. Jika avarage nilai lebih atau sama dengan 60 maka "nilai C"
  5. Lainnya maka "nilai D"
  6. Jika presensi lebih dari itu maka "nilai X"


    * Input:
```
skenario 1: presensi = 2 ; average_nilai = 80
skenario 2: presensi = 4 ; average_nilai = 70
```
    * Output:
```
skenario 1: nilai A
skenario 2: nilai X
```

In [ ]:
# Code in here
...

nilai X