# Chapter 1

## **Printing**

In [ ]:
# Contoh
nama = "Arya"
umur = 24

# Versi lama
print("Halo, saya %s. Saya berumur %s tahun." % (nama, umur))

# Versi baru
print(f"Halo, saya {nama}. Saya berumur {umur} tahun.")

#Versi format()
print("Halo, saya {}. Saya berumur {} tahun.".format(nama,umur))

Halo, saya Arya. Saya berumur 24 tahun.
Halo, saya Arya. Saya berumur 24 tahun.
Halo, saya Arya. Saya berumur 24 tahun.

In [ ]:
# Coba code disini

ayam = 15000
bumbu = 10000
beras = 50000
total_belanja = 160000

print('Saya belanja ayam seharga {}, bumbu dapur seharga {} dan beras seharga {}. Total belanja saya hari ini adalah {}.'.format(ayam,bumbu,beras,total_belanja))

## **Commenting**

In [ ]:
# ini adalah komentar single line

print ('Hello World!') # Komentar ini juga diawali dengan tanda pagar (#)
print ('Hello World!') # Digunakan di dalam satu baris yang sama dengan perintahnya

"""
Multi line merupakan komentar yang biasanya digunakan
apabila memiliki isi/konten yang banyak.
Komentar ini ditandai dengan 3 kutip diawal dan diakhir,
3 kutip ini dapat berupa kutip tunggal maupun kutip ganda.
"""

Hello World!
Hello World!

In [ ]:
# import pandas and model_selection module of scikit-learn
import pandas as pd
from sklearn import model_selection

# Training data is in a CSV file called train.csv
df = pd.read_csv("train.csv")

# we create a new column called kfold and fill it with -1
df["kfold"] = -1

# the next step is to randomize the rows of the data
df = df.sample(frac=1).reset_index(drop=True)

# initiate the kfold class from model_selection module
kf = model_selection.KFold(n_splits=5)

# fill the new kfold column
for fold, (trn_, val_) in enumerate(kf.split(X=df)):
    df.loc[val_, 'kfold'] = fold

# save the new csv with kfold column
df.to_csv("train_folds.csv", index=False)

## **Error and how to solve**

- Pada sesi ini, kita akan belajar mengenai error dan bagaimana cara mengatasinya.
- Error merupakan hal yang wajar ditemui saat sedang membuat sebuah pemrograman.
- Melalui error jugalah kita semakin banyak belajar dan semakin memahami *code* yang telah kita buat.

Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:
- Perhatikan error outputnya
- Cobalah untuk googling mengenai error tersebut
- Kemudian cobalah code yang telah digoogling sebelumnya
- Apabila masih belum *solve*, cobalah untuk googling kembali

Ada beberapa jenis error yang sering dialami, yakni:
- Syntax Error
- Indentation Error
- Name Error

## Syntax Error

In [ ]:
PRINT("Hello World!"):

SyntaxError: invalid syntax (<ipython-input-5-dcd61191019f>, line 1)

## Indentation Error

In [ ]:
print("ini adalah code baris 1")
    print("ini adalah code baris 2")
print("ini adalah code baris 3")

IndentationError: unexpected indent (<ipython-input-6-ed7c5ebc0470>, line 2)

## Name Error

In [ ]:
baju = 200000
tumblr = 75000
tas = 150000
totalPengeluaran = 425000

print(total_pengeluaran)

NameError: name 'total_pengeluaran' is not defined

# Chapter 2

## **Primitive Data Structures in Python**

Struktur data adalah cara mengatur dan menyimpan data sehingga dapat diakses dan diolah dengan efisien. Ada dua jenis struktur data pada Python yaitu **primitive data structure** dan **non-primitive data structure (composite data structure)**. Pada kesempatan kali ini kita akan membahas **primitive data structure**

Secara umum, Python memiliki empat struktur data primitif
* **Integer**
* **Float**
* **String**
* Boolean (akan dibahas pada pertemuan selanjutnya)

Kenapa dinamakan primitif, karena berisi nilai data yang murni dan sederhana.

In [ ]:
# coba cek tipe data variabel int_2 dibawah
int_2 = 23
print(type(int_2))

<class 'int'>

In [ ]:
# coba cek tipe data dari variabel pi dibawah
pi = 3.14
print(type(pi))

<class 'float'>

### **Operasi Matematika Pada Python**

Operator adalah simbol khusus yang mewakili perhitungan seperti penambahan dan pengurangan.

| Operator                        | Simbol | Contoh penulisan di Python | Keluaran|
|---------------------------------|--------|--------|---------|
| Pertambahan                     | +      |1 + 1   | 2       |
| Pengurangan                     | -      |3 - 2   | 1       |
| Perkalian                       | *      |2 * 2   | 4       |
| Pembagian                       | /      |6 / 3   | 3       |
| Floor Devision                  | //     |3 // 2  | 1       |
| Modulo                          | %      |7 % 2   | 1       |
| Pangkat                         | **     |2 ** 2  | 4       |

#### **Mini Exercise**
Sebagai seorang Analyst, anda ingin mengetahui rata-rata penjualan toko selama 3 bulan. datanya sebagai berikut

|Bulan|Pendapatan|
|-----|------|
|bulan_1|2.578.500|
|bulan_2|2.867.400|
|bulan_3|3.100.600|

Berapakah rata-rata pendapatan penjualan toko anda selama tiga bulan?

In [ ]:
# jawab disini
bulan_1 = 2578500
bulan_2 = 2867400
bulan_3 = 3100600

average = ((bulan_1 + bulan_2 + bulan_3)/3)
print(average)
type(average)

2848833.3333333335

float

#### **Floor Devision**

Floor devision berarti **membagi dan membulatkan ke bawah** ke bilangan bulat terdekat.

Jika pembagian biasa, contohnya `7 / 2 = 3.5` maka floor devision akan membulatkan ke bawah ke bilangan bulat terdekat, berarti `7 // 2 = 3`.

In [ ]:
# coba keluarkan hasil pembagiannya
print(8//3)

2

In [ ]:
# lengkapi titik-titik dibawah ini dengan operasi floor devision
fDivision_1 = 33
fDivision_2 = 9
print(fDivision_1 // fDivision_2)

3

In [ ]:
# buatlah 2 variabel untuk menampung angka 15 dan 4
# untuk penamaan variabel bebas, tetapi memenuhi syarat "good" variable
# lakukan operasi 15 floor devision 4 dengan variabel yang sudah dibuat
x = 15
y = 4
print(x // y)

3

#### **Sisa hasil bagi** (Modulo)

In [ ]:
# coba lengkapi titik-titik dibawah ini dengan operasi modulo
mod_1 = 44
mod_2 = 7
print(mod_1 % mod_2)

2

#### **Pangkat**

In [ ]:
# coba keluarkan hasil operasi pangkat
print(4 ** 4)

256

In [ ]:
# coba lengkapi titik-titik dibawah ini dengan operasi pangkat
mark_1 = 2
mark_2 = 9
print(mark_1 ** mark_2)

512

#### **Mini Exercise**
Doni membeli 2 kotak Martabak Manis. Didalam 1 kotak, Martabak Manis dipotong menjadi 10 bagian. Doni kemudian menyantapnya bersama 6 orang temannya. Jika setiap orang mendapat jumlah yang sama. Berapakah sisa Martabak Manis di dalam kotak?

In [ ]:
jumlah_kotak = 2
jumlah_potongan = 10
jumlah_orang = 7
total_potongan = jumlah_kotak * jumlah_potongan

print(total_potongan % jumlah_orang)

6

### **Exercise**

1. Pak Hartono agak kesal karena harga BBM naik dari Rp 7650 per liter menjadi Rp 10000 per liter. Jika sebelumnya beliau membeli Rp 20000 sudah full tank, berapa liter yang harus dibayar Pak Hartono jika mengisi full tank dengan harga yang baru ?

2. Putra bekerja di sebuah perusahaan swasta. Beliau mendapatkan gaji tahunan sebesar Rp 160 juta dan dibayarkan setiap dua minggu. Jika dalam satu tahun gaji tersebut dibayarkan sebanyak 26 kali, berapakah gaji yang di dapatkan Putra selama dua minggu ?

In [ ]:
liter_cap = (20000 / 7650)
print("Tank Capacity: {}".format(liter_cap))

new_price = 10000
fulltank_new = (10000 * liter_cap)

print("Full tank new price: {} * {} = {} ".format(new_price,liter_cap,fulltank_new))

Tank Capacity: 2.6143790849673203
Full tank new price: 10000 * 2.6143790849673203 = 26143.7908496732

In [ ]:
total_sal = 160000000
halfmonth = total_sal / 26

print(halfmonth)

13333333.333333334
6153846.153846154

**Order of Operation (PEMDAS)**

Setiap operasi matematika memiliki **urutan dalam penyelesaiannya**. Jika dalam satu ekspresi terdapat lebih dari satu operasi, maka harus di selesaikan berdasarkan operasi yang lebih tinggi prioritasnya. Untuk lebih mudah mengingat aturan ini bisa menggunakan akronim **PEMDAS**:

| Operator                                       | Simbol |
|------------------------------------------------|--------|
| **P**arentheses (Tanda Kurung)                  | ( )    |
| **E**xponents (Pangkat)                   | **     |
| **M**ultiplication, **D**ivision (kali, bagi, pembagian (dengan output pembulatan kebawah), hasil sisa pembagian)       | * , / , //, % |
| **A**ddition and **S**ubtraction (Tambah, Kurang)                                          | + , -      |

Jika operasi memiliki tingkat prioritas yang sama maka dikerjakan mulai dari kiri

### **Exercise**

1. Pak Bambang menabung dibank sebesar Rp 10.000.000. Jika persentase bunga per tahun sebesar 5%, berapa besar bunga yang diterima Pak Bambang setelah 5 tahun menabung?

 `hint: Besar_bunga = Lama_menabung x persentase_bunga x besar_tabungan`

2. Ibu Mega sedang berbelanja ke toko buah untuk acara arisan. Beliau membeli buah Jeruk sebanyak 1 kg, buah Rambutan 2 kg, Semangka 2 buah yang beratnya masing-masing 4.2 kg dan 4.5 kg. Jika harga Jeruk Rp 22000 per kg, Rambutan Rp 20000 per kg, Semangka Rp 4000 per kg. Ternyata toko memberikan diskon sebesar 20% dari harga total pembelian. Berapakah total harga belanjaan Ibu Mega ?

In [ ]:
tabungan = 10000000
bunga = 5/100
jumlah_tahun = 5

total_bunga = (tabungan * bunga) * jumlah_tahun
print(total_bunga)

2500000.0

In [ ]:
jeruk = (1 * 22000)
rambutan = (2 * 20000)
semangka = ((4.2 + 4.5)*4000)
total_belanja = jeruk + rambutan + semangka
print("harga sebelum diskon: {} + {} + {} = {} ".format(jeruk,rambutan,semangka,total_belanja))

disc = 20/100
disc_value = (total_belanja * disc)
after_disc = (total_belanja - disc_value)

print("harga setelah diskon: {} - {} = {} ".format(total_belanja,disc_value,after_disc))

harga sebelum diskon: 22000 + 40000 + 34800.0 = 96800.0
harga setelah diskon: 96800.0 - 19360.0 = 77440.0

## **String**

String adalah **kumpulan huruf, kata atau karakter yang lain**. Di Python String bisa dibuat dengan tanda kutip tunggal `('...')` atau ganda `("...")`

Di dunia nyata string bisa digunakan untuk cek plagiasi, deteksi spam pada email, bahkan untuk search engine.

Gambar di bawah ini adalah proses saat training data pada machine learning. Dengan string kita bisa memantau proses training data untuk mengetahui model yang kita bangun bagus apa tidak secara langsung.

In [ ]:
print("hello, it's me")

print('“Terbentur, terbentur, terbentuk,” kata Tan Malaka.')
# coba jalankan kode di bawah ini
print('''"That's great", she said.''')

hello, it's me
“Terbentur, terbentur, terbentuk,” kata Tan Malaka.
"That's great", she said.

Apakah bisa menggunakan kutip tunggal dan ganda secara bersamaan? Untuk itu Python memungkinkan kita untuk menggunakan **tanda kutip tiga** `('''...''')`.

Untuk membuatnya kita bisa menggunakan **kutip tunggal** `('')` sebanyak tiga kali

In [ ]:
# coba jalankan kode di bawah ini
print('''"That's great", she said.''')

"That's great", she said.

### **String Operator**

Di Python, string operator mewakili berbagai jenis operasi yang dapat digunakan pada tipe data string. Berikut ini adalah beberapa string operator yang sering digunakan.

misalkan :
```
STR_1 = 'data'
STR_2 = 'science'
```
| Operator | Penggunaan | Contoh Penulisan di Python | Keluaran |
|----------|--------|-------------------|--------- |
| Concatenation | `(NAMA_VAR+NAMA_VAR)` | `STR_1+STR_2` | datascience|
| Repetition | `(NAMA_VAR*n)` | `STR_1*2` | datadata |
| slicing| `NAMA_VAR[start:stop]`| `STR_2[1:4]`|cie|

In [ ]:
# coba isi code dibawah dengan operasi concatenation
string_1 = 'pergi'
string_2 = 'jauh'
print(string_1 + string_2)

pergijauh

#### **Repetition**

Operator repetition `(STR_VALUE*n)` berfungsi untuk **mengulang string** sebanyak `n` kali sesuai yang kita inginkan.

In [ ]:
# coba isi variabel hewan dengan string "ayam"
# ulangi variabel hewan saat di print sebanyak 5 kali
hewan = 'ayam '
print(hewan*10)

#### **Slicing**

Pada string kita bisa mengambil karakter yang kita inginkan dengan cara **mengakses indeks dari string** tersebut. Perlu di ingat indeks pada Python dimulai dengan 0

![aa.jpg](https://i.ytimg.com/vi/KAXvMbD1Zac/maxresdefault.jpg)

Bagaimana jika ingin **mendapatkan beberapa karakter** secara langsung ?
Bisa menggunakan `NAMA_VAR[start:stop-1]`. Operator ini akan mengambil karakter dari indeks `start` sampai ke indeks `stop-1` dari string.

In [ ]:
# coba ambillah karakter n pada string jam
jam = 'jam tangan'
print(jam[9])

n

In [ ]:
# coba ambilah kata jam dengan slicing
jam = 'jam tangan'
print(jam[0:3])

jam

In [ ]:
# coba jalankan code dibawah ini
jam = 'jam tangan'
print(jam[4:])
print(jam[:6])

tangan
jam ta

#### **Mini Exercise**

1. Boss anda menyuruh untuk mengambil data penjualan di bulan tertentu. Bagaimana cara anda untuk mendapatkan hanya bulannya saja di tanggal transaksi tersebut ?
```python
tgl_transaksi_1 = "02-01-2022"
tgl_transaksi_2 = "26-05-2022"
```

In [ ]:
tgl_transaksi_1 = "02-01-2022"
tgl_transaksi_2 = "26-05-2022"

print(tgl_transaksi_1[3:5])
print(tgl_transaksi_2[3:5])

01
05

### **String Method**

Ada berbagai macam string methods yang ada di Python. Untuk pertemuan ini, hanya akan dikenalkan beberapa, yaitu sebagai berikut:

| Method       | Deskripsi                                        |
|--------------|--------------------------------------------------|
|len()| Untuk mengetahui panjang string |
| upper()      | Untuk mengubah semua karakter string menjadi huruf kapital  |
| lower()      | Untuk mengubah semua karakter string menjadi huruf kecil |
|count() | Untuk menghitung suatu karakter yang ada di dalam string|
| find()       | Untuk mencari karakter di dalam suatu string, dan outputnya adalah posisi indeks karakter tersebut ditemukan |
| replace()     | Untuk mengganti karakter di dalam string sesuai dengan yang kita inginkan  |
| capitalize() | Untuk mengubah karakter pertama pada string menjadi kapital|
| title()      | Untuk mengubah huruf pertama pada tiap kata di dalam string menjadi huruf kapital  |

In [ ]:
# coba cari panjang string kalimat di bawah
lyrics = 'High school in Jakarta, an elaborate saga'
print(len(lyrics))

41

In [ ]:
# lengkapi kode dibawah ini
# buat string kota menjadi huruf kapital dengan method upper()
kota = 'surabaya'
print(kota.upper())

SURABAYA

In [ ]:
# coba lengkapi kode dibawah ini
# jadikan kata di bawah ini menjadi huruf kecil semua menggunakan lower()
bunga = 'anggrek BULAN'
print(bunga.lower())

anggrek bulan

In [ ]:
# coba hitung huruf 'o' pada sring_2 menggunakan count()
string_2 = 'jupyter notebook'
print(string_2.count('o'))

3

In [ ]:
# lengkapi kode berikut
# carilah karakter 'l' ada di indeks ke berapa dengan method find()
buah = 'kelapa'
print(buah.find('l'))

2

In [ ]:
# ganti kata pony menjadi catur menggunakan method replace()
hewan = 'kuda pony'
print(hewan.replace('pony','catur'))

kuda catur

In [ ]:
# buatlah huruf pertama pada setiap kata string dibawah menjadi kapital dengan method title()
word_2 = 'samsul sel'
print(word_2.capitalize())

Samsul sel

In [ ]:
# buatlah huruf pertama string dibawah menjadi kapital
string_2 = 'business intelligence'
print(string_2.title())

Business Intelligence

#### **Mini Exercise**

1. Anda diberikan data dari hasil scrapping web. Data tesebut masih 'kotor' dan harus dibersihkan. Salah satu contoh data yang harus dibenarkan disini adalah "`Pyth^*&on Exercis8es`". Hilangkan karakter yang tidak diperlukan pada string tersebut.

**Hint: menggunakan `.replace()`**

In [ ]:
string = "Pyth^*&on Exercis8es"
string = string.replace('^*&','')
string = string.replace('8','')

print(string)

Python Exercises

### **Exercise**

1. Anda memiliki perusahaan percetakan. Pelanggan anda meminta anda untuk mencetak tulisan "HAPPI BIRTHDAY". Namun ternyata di dalam file tulisan yang dikirim, anda menyadari bahwa ada tulisan typo yaitu I di dalam kata HAPPI yang seharusnya huruf Y.  Pelanggan meminta anda untuk mengganti dengan yang benar dan mengubah hurufnya menjadi besar di awal kata saja. Coba revisi tulisan HAPPI BIRTHDAY sesuai permintaan pelanggan anda!

2. Terdapat kode pos NZ12348, dimana 2 karakter awal adalah kode negara. Coba ambil kode negara dari string tersebut!

In [ ]:
word = "HAPPI BIRTHDAY"
word = word.replace('HAPPI','HAPPY')
word = word.title()

print(word)

Happy Birthday

In [ ]:
zipcode = 'NZ12348'

print(zipcode[0:2])

NZ

## **Review**
---

Materi yang sudah anda pelajari pada video learning Primitive Data Type adalah sebagai berikut:
```
  1. integer - bilangan bulat
  2. float - bilangan desimal
  3. string - karakter yang di definisikan dengan tanda kutip
  4. bolean (tidak dipelajari di materi ini)
```
Cara untuk cek tipe data pada python bisa dengan syntax `type(VALUE)`

---
Jika dalam satu ekspresi matematika terdapat lebih dari satu operasi, maka harus di selesaikan berdasarkan operasi yang lebih tinggi prioritasnya. Untuk lebih mudah mengingat aturan ini bisa menggunakan akronim PEMDAS.

```
- Parentheses -- ()
- Exponentiation -- **
- Multiplication -- *
- Division -- /
- Addition -- +
- Substraction -- -
```
---
String adalah kumpulan huruf kata atau karakter lain. Pada Python, string didefinisikan dengan tanda kutip (`""`). Tipe data string juga memiliki operator, operator yang sering digunakan di antaranya
```
- Concatenation
- Repetition
- Slicing
```

String di Python juga memiliki beberapa method atau fungsi. method yang sering digunakan diantaranya :


```
- len()
- upper()
- lower()
- count()
- find()
- replace()
- capitalize()
- title()
```
---

**TAMBAHAN**

**Casting Variabel:**

Casting variabel adalah membangun atau mengubah sebuah variabel dari tipe data lain menjadi tipe data yang kita inginkan

Contoh:

`string_1 = "46.7"`

Kita akan mengubah variabel `string_1` di atas menjadi tipe data `float`. Caranya:


```python
numb_float = float(string_1)
print(type(numb_float))
output: class 'float'
```

Variabel `numb_float` tersebut juga bisa kita ubah menjadi tipe data `integer`. Caranya:
```python
numb_float = 46.7
numb_int=int(46.7)
print(type(numb_int))
output: class 'int'
```

Untuk tipe data `string`, caranya juga berlaku seperti cara sebelumnya


```python
numb_int = 46
string_2 = str(numb_int)
print(type(string_2))
output:class 'str'
```

---
**Limiting Float Decimal Point**

Jika kita berhadapan dengan tipe data float dengan angka di belakang koma yang banyak, kita bisa menyederhanakan jumlah angkanya menjadi yang kita inginkan.

Cara pertama bisa menggunakan method `round()`. Method ini akan membulatkan bilangan dibelakang koma menjadi yang kita inginkan.


contoh:

```python
numb_1 = 14.33733
round_num = round(num_1, 2) # 2 disini merupakan jumlah angka di belakang koma
print(round_num)
output=14.34
```

Jika menggunakan f-string, kita bisa lebih mudah menggunakan sintaks (`.2f`). Sintaks tersebut akan membulatkan dua angka di belakang koma. Angka 2 tersebut bisa anda ganti dengan berapapun angka yang kita inginkan

Contoh:
```python
numb_2 = 14.33733
print(f"angka = {numb_2: .2f}")
output = 14.34
```

In [2]:
mainan = ('kuda', 'anjing', 'kucing', 'gajah', 'kucing', 'burung', 'ular',
          'ayam', 'bebek', 'jerapah', 'macan', 'anjing', 'burung', 'kelinci')

# print tuple tersebut
print(mainan)

('kuda', 'anjing', 'kucing', 'gajah', 'kucing', 'burung', 'ular', 'ayam', 'bebek', 'jerapah', 'macan', 'anjing', 'burung', 'kelinci')

In [5]:
# buat sebuah variabel untuk menampung input
hewan = input('Masukkan mainan hewan yang ingin diketahui jumlahnya:')

# hitung banyak hewan dalam tuple dengan method count()
# masukkan variabel yang dijadikan input tadi ke method count
hitung = mainan.count(hewan)

# print jumlah mainan hewan yang ingin dicari
print('Jumlah mainan {} yang dimiliki rizki sebanyak {}'.format(hewan,hitung))

Masukkan mainan hewan yang ingin diketahui jumlahnya:jerapah
Jumlah mainan jerapah yang dimiliki rizki sebanyak 1

In [1]:
numbers = [10, 15, 20, 25, 30, 35, 40]
numb = [num for num in numbers if num % 2 == 0]
print(numb)

[10, 20, 30, 40]

In [3]:
words = ['apple', 'banana', 'cherry', 'date']

word = [len(x) for x in words]
print(word)

[5, 6, 6, 4]

In [6]:
wordss = ['apple', 'banana', 'cherry', 'date', 'kiwi']
a = [x for x in wordss if 'a' in x]
print(a)

['apple', 'banana', 'date']

In [7]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flatten = [item for sublist in nested_list for item in sublist]

print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
celsius = [0, 10, 20, 30, 40]

fahr = [(x * 9/5 + 32) for x in celsius]

print(fahr)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [10]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

list3 = [[i,j] for i in list1 for j in list2]
print(list3)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c']]

In [12]:
numbers = [-5, -2, 0, 3, 6]

sq = [x**2 for x in numbers if x > 0]
print(sq)

[9, 36]

In [ ]:
Tanggal 1 Bekal Nasi + Telur
Tanggal 2 Bekal Nasi + Ikan
Tanggal 3 Bekal Nasi + Tahu dan Tempe
Tanggal 4 Bekal Nasi + Telur
Tanggal 5 Bekal Nasi + Ikan
Tanggal 6 Bekal Nasi + Tahu dan Tempe
Tanggal 7 libur
Tanggal 8 Bekal Nasi + Telur
Tanggal 9 Bekal Nasi + Ikan
Tanggal 10 Bekal Nasi + Tahu dan Tempe
Tanggal 11 Bekal Nasi + Telur
Tanggal 12 Bekal Nasi + Ikan
Tanggal 13 Bekal Nasi + Tahu dan Tempe
Tanggal 14 libur
Tanggal 15 Bekal Nasi + Telur
Tanggal 16 Bekal Nasi + Ikan
Tanggal 17 Bekal Nasi + Tahu dan Tempe
Tanggal 18 Bekal Nasi + Telur
Tanggal 19 Bekal Nasi + Ikan
Tanggal 20 Bekal Nasi + Tahu dan Tempe
Tanggal 21 libur
Tanggal 22 Bekal Nasi + Telur
Tanggal 23 Bekal Nasi + Ikan
Tanggal 24 Bekal Nasi + Tahu dan Tempe
Tanggal 25 Bekal Nasi + Telur
Tanggal 26 Bekal Nasi + Ikan
Tanggal 27 Bekal Nasi + Tahu dan Tempe
Tanggal 28 libur
Tanggal 29 Bekal Nasi + Telur
Tanggal 30 Bekal Nasi + Ikan

In [17]:
list_bekal = ['Nasi+ Telur', 'Ikan', 'Tahu dan Tempe']
index = 0

for tanggal in range (1,32):

  if tanggal % 7 == 0:
    print('Tanggal {} Libur'.format(tanggal))
    print('------------------------')
    continue

  print('Tanggal {} Bekal {}'.format(tanggal,list_bekal[index]))
  index += 1

  if index > 2:
    index = 0

Tanggal 1 Bekal Nasi+ Telur
Tanggal 2 Bekal Ikan
Tanggal 3 Bekal Tahu dan Tempe
Tanggal 4 Bekal Nasi+ Telur
Tanggal 5 Bekal Ikan
Tanggal 6 Bekal Tahu dan Tempe
Tanggal 7 Libur
------------------------
Tanggal 8 Bekal Nasi+ Telur
Tanggal 9 Bekal Ikan
Tanggal 10 Bekal Tahu dan Tempe
Tanggal 11 Bekal Nasi+ Telur
Tanggal 12 Bekal Ikan
Tanggal 13 Bekal Tahu dan Tempe
Tanggal 14 Libur
------------------------
Tanggal 15 Bekal Nasi+ Telur
Tanggal 16 Bekal Ikan
Tanggal 17 Bekal Tahu dan Tempe
Tanggal 18 Bekal Nasi+ Telur
Tanggal 19 Bekal Ikan
Tanggal 20 Bekal Tahu dan Tempe
Tanggal 21 Libur
------------------------
Tanggal 22 Bekal Nasi+ Telur
Tanggal 23 Bekal Ikan
Tanggal 24 Bekal Tahu dan Tempe
Tanggal 25 Bekal Nasi+ Telur
Tanggal 26 Bekal Ikan
Tanggal 27 Bekal Tahu dan Tempe
Tanggal 28 Libur
------------------------
Tanggal 29 Bekal Nasi+ Telur
Tanggal 30 Bekal Ikan
Tanggal 31 Bekal Tahu dan Tempe

In [35]:
# buatlah sebuah empty list untuk menyimpan seluruh penonton yang terpilih
filter1 = []

# buatlah variabel konstant untuk menyimpan jumlah penonton
jumlah_penonton = 200

# buatlah variabel yang digunakan untuk menghentikan kondisi while
num = 1

# buatlah empty list untuk menyimpan penonton terpilih pada persyaratan pertama
# cari penonton dengan perulangan while sesuai kondisi
while num <= jumlah_penonton:
    if num % 7 == 0 and num % 5 == 0:
        filter1.append(num)
    num += 1

# print penonton yang memenuhi persyaratan
print('Penonton yang memenuhi persyaratan pertama adalah nomor {}'.format(filter1))

# karena ada lebih dari satu angka maka ambil sesuai kondisi
# masukkan penonton terpilih ke variabel untuk menyimpan penonton yang terpilih
# hint (gunakan method append)
# quali_penonton = filter2.append(penonton[-2])
# print penonton terpilih
print('Penonton yang terpilih Pertama adalah nomor {}'.format(filter1[-2]))

Penonton yang memenuhi persyaratan pertama adalah nomor [35, 70, 105, 140, 175]
Penonton yang terpilih Pertama adalah nomor 140

In [38]:
filter2 = []
numm = 1

while numm <= 50:
  if numm % 11 == 0:
    filter2.append(numm)
  numm += 1

print('Penonton yang memenuhi persyaratan ke-2 adalah nomor {}'.format(filter2))
print('Penonton yang terpilih Ke-2 adalah nomor {}'.format(filter2[2]))

Penonton yang memenuhi persyaratan ke-2 adalah nomor [11, 22, 33, 44]
Penonton yang terpilih Ke-2 adalah nomor 33

In [39]:
filter3 = []
num = 1

while num <= jumlah_penonton:
  if 50 < num < 100 and num % 8 == 0:
    filter3.append(num)
  num += 1

print('Penonton yang memenuhi persyaratan ke-3 adalah nomor {}'.format(filter3))
print('Penonton yang terpilih Ke-3 adalah nomor {}'.format(filter3[-1]))

Penonton yang memenuhi persyaratan ke-3 adalah nomor [56, 64, 72, 80, 88, 96]
Penonton yang terpilih Ke-3 adalah nomor 96

In [42]:
winner = []
winner.append(filter1[-2])
winner.append(filter2[2])
winner.append(filter3[-1])

print(winner)

[140, 33, 96]

In [2]:
# buatlah list untuk masing-masing belanjaan
surti = [20_000, 80_000, 40_000, 150_500]
mima = [31_000, 43_000, 65_000, 105_000]
rani = [12_000, 200_000, 61_000, 10_000]

In [44]:
# Gunakan variabel dari soal 3A

# buatlah variabel untuk menghentikan loop dahulu
num = 0

# buat juga variabel untuk menampung total belanjaan ibu surti
total_surti = 0

# hitung belanjaan ibu surti dengan while loop
while num < len(surti):
    total_surti = total_surti + surti[num]
    num += 1

# print total belanja ibu surti
print('Total belanja ibu Surti = Rp {}'.format(total_surti))

Total belanja ibu Surti = Rp 290500

In [45]:
# Gunakan variabel dari soal 3A

# buatlah variabel untuk menghentikan loop dahulu
num = 0

# buat juga variabel untuk menampung total belanjaan ibu surti
total_mima = 0

# hitung belanjaan ibu surti dengan while loop
while num < len(mima):
    total_mima = total_mima + mima[num]
    num += 1

# print total belanja ibu surti
print('Total belanja ibu Mima = Rp {}'.format(total_mima))

Total belanja ibu Mima = Rp 244000

In [46]:
# Gunakan variabel dari soal 3A

# buatlah variabel untuk menghentikan loop dahulu
num = 0

# buat juga variabel untuk menampung total belanjaan ibu surti
total_rani = 0

# hitung belanjaan ibu surti dengan while loop
while num < len(rani):
    total_rani = total_rani + rani[num]
    num += 1

# print total belanja ibu surti
print('Total belanja ibu Rani = Rp {}'.format(total_rani))

Total belanja ibu Rani = Rp 283000

In [4]:
# definisikan potongan harga sebagai variabel konstan
disc1 = (1/100)
disc2 = (3/100)

In [5]:
num = 0

# buat juga variabel untuk menampung total belanjaan ibu surti
total_surti = 0
disc_price = 0

# hitung belanjaan ibu surti dengan while loop
while num < len(surti):

  if surti[num] > 50_000 and surti[num] < 100_000:
    disc_price = surti[num] * disc1
    final_price = surti[num] - disc_price

  elif surti[num] > 100_000:
    disc_price = surti[num] * disc2
    final_price = surti[num] - disc_price

  else:
    final_price = surti[num]

  total_surti = total_surti + final_price
  num += 1



# print total belanja ibu surti
print('Total belanja ibu Surti = Rp {}'.format(total_surti))

Total belanja ibu Surti = Rp 285185.0

In [6]:
num = 0

# buat juga variabel untuk menampung total belanjaan ibu mima
total_mima = 0
disc_price = 0

# hitung belanjaan ibu mima dengan while loop
while num < len(mima):

  if mima[num] > 50_000 and mima[num] < 100_000:
    disc_price = mima[num] * disc1
    final_price = mima[num] - disc_price

  elif mima[num] > 100_000:
    disc_price = mima[num] * disc2
    final_price = mima[num] - disc_price

  else:
    final_price = mima[num]

  total_mima = total_mima + final_price
  num += 1



# print total belanja ibu mima
print('Total belanja ibu mima = Rp {}'.format(total_mima))

Total belanja ibu mima = Rp 240200.0

In [7]:
num = 0

# buat juga variabel untuk menampung total belanjaan ibu rani
total_rani = 0
disc_price = 0

# hitung belanjaan ibu rani dengan while loop
while num < len(rani):

  if rani[num] > 50_000 and rani[num] < 100_000:
    disc_price = rani[num] * disc1
    final_price = rani[num] - disc_price

  elif rani[num] > 100_000:
    disc_price = rani[num] * disc2
    final_price = rani[num] - disc_price

  else:
    final_price = rani[num]

  total_rani = total_rani + final_price
  num += 1



# print total belanja ibu rani
print('Total belanja ibu rani = Rp {}'.format(total_rani))

Total belanja ibu rani = Rp 276390.0

In [9]:
# buatlah tuple of tuple untuk menyimpan plat nomor dan jalur yang dilewati

record = (('Q 1113 OP', 'Mobil', 'Jalur A'), ('BZ 9008 IQ', 'Mobil', 'Jalur A'),
              ('U 3233 JK', 'Mobil', 'Jalur A'), ('YT 8809 SH', 'Ambulance', 'Jalur A'),
              ('UX 1124 IU', 'Mobil', 'Jalur B'), ('BZ 7672 UI', 'Mobil', 'Jalur B'),
              ('YT 1123 XY', 'Mobil', 'Jalur B'), ('YY 1121 YY', 'Mobil', 'Pemadam Kebakaran' )
              )

# print tuple tersebut
print(record)

(('Q 1113 OP', 'Mobil', 'Jalur A'), ('BZ 9008 IQ', 'Mobil', 'Jalur A'), ('U 3233 JK', 'Mobil', 'Jalur A'), ('YT 8809 SH', 'Ambulance', 'Jalur A'), ('UX 1124 IU', 'Mobil', 'Jalur B'), ('BZ 7672 UI', 'Mobil', 'Jalur B'), ('YT 1123 XY', 'Mobil', 'Jalur B'), ('YY 1121 YY', 'Mobil', 'Pemadam Kebakaran'))

In [12]:
# Karena ambulance dan pemadan dikecualikan
# simpan ambulance dan pemadam kebakaran pada suatu tuple
exc = ('Ambulance', 'Pemadam Kebakaran')

# buat perulangan dengan kondisi
# cek apakah plat tersebut ganjil atau genap dan
# pastikan lewat jalur yang benar
# jika tidak lewat jalur yang benar proses tilang

for plat, jenis, jalur in record:
    param = plat[-4]

    if jalur in exc:
        print('{} dengan plat nomor {} | tidak di proses e-Tilang'.format(jalur,plat))

    elif jenis in exc:
        print('{} dengan plat nomor {} | tidak di proses e-Tilang'.format(jenis,plat))


    elif int(param) % 2 == 1:

        if jalur == 'Jalur A':
            print('{} Plat Nomor {} masuk {} | Tidak di Proses e_Tilang'.format(jenis,plat,jalur))

        else:
            print('{} Plat Nomor {} masuk {} | Proses e_Tilang'.format(jenis,plat,jalur))

    elif int(param) % 2 == 0:

        if jalur == 'Jalur B':
            print('{} Plat Nomor {} masuk {} | Tidak di Proses e_Tilang'.format(jenis,plat,jalur))

        else:
            print('{} Plat Nomor {} masuk {} | Proses e_Tilang'.format(jenis,plat,jalur))

Mobil Plat Nomor Q 1113 OP masuk Jalur A | Tidak di Proses e_Tilang
Mobil Plat Nomor BZ 9008 IQ masuk Jalur A | Proses e_Tilang
Mobil Plat Nomor U 3233 JK masuk Jalur A | Tidak di Proses e_Tilang
Ambulance dengan plat nomor YT 8809 SH | tidak di proses e-Tilang
Mobil Plat Nomor UX 1124 IU masuk Jalur B | Tidak di Proses e_Tilang
Mobil Plat Nomor BZ 7672 UI masuk Jalur B | Tidak di Proses e_Tilang
Mobil Plat Nomor YT 1123 XY masuk Jalur B | Proses e_Tilang
Pemadam Kebakaran dengan plat nomor YY 1121 YY | tidak di proses e-Tilang

In [13]:
inventory = [['Sandal Angsa',4], ['Mie Selera',15], ['Kopi Putih',20],
                  ['Kopi Kapal Terbakar',12], ['Sabun Kehidupan', 7],
                  ['Sampo Matahari',    11], ['Lombok', 3], ['Bawang Merah', 2],
                  ['Bawang Putih',    3], ['Kecap EFG', 6]]

# kemudian print list of list tersebut
print(inventory)

[['Sandal Angsa', 4], ['Mie Selera', 15], ['Kopi Putih', 20], ['Kopi Kapal Terbakar', 12], ['Sabun Kehidupan', 7], ['Sampo Matahari', 11], ['Lombok', 3], ['Bawang Merah', 2], ['Bawang Putih', 3], ['Kecap EFG', 6]]

In [14]:
# buat variabel dan lakukan list comprehension untuk barang yang jumlahnya kurang dari 5
less_5 = [item for item, qty in inventory if qty < 5]

# Tampilkan barang yang jumlahnya kurang dari lima
print(less_5)

['Sandal Angsa', 'Lombok', 'Bawang Merah', 'Bawang Putih']

In [15]:
# buat variabel dan lakukan list comprehension untuk barang yang ada nama kopinya
# ambil juga jumlah barang tersebut
kopi = [[item,qty] for item, qty in inventory if 'Kopi' in item]

# Tampilkan barang yang jumlahnya kurang dari lima
print(kopi)

[['Kopi Putih', 20], ['Kopi Kapal Terbakar', 12]]

In [16]:
# Lengkapi titik-titik dibawah ini
# membuat fungsi
def total_cost(qty,prod_price):
    cost = qty * prod_price
    return cost

def total_sales(qty,sell_price):
    sales = qty * sell_price
    return sales

def profit(sales,cost):
    prof = sales - cost
    return prof

# memanggil fungsi

profit(total_sales(2,100_000),total_cost(2,75_000))

50000

In [17]:
# Isi titik-titik dibawah
# membuat fungsi
def produk(**data):
    for key, value in data.items():
        print('{} = {}'.format(key,value))


#memanggil fungsi
produk(Minyak =14000)
produk(Gula = 10000)
produk(Telur = 25000)

Minyak = 14000
Gula = 10000
Telur = 25000

In [22]:
def kalender(*hari):
    """print hari jumat"""
    for day in hari:
        if day == 'Jumat':
            print(day)
            break  # This will exit the loop after printing 'Jumat'

# memanggil fungsi
kalender('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')

Jumat

In [23]:
help(kalender)

Help on function kalender in module __main__:

kalender(*hari)
    print hari jumat

In [24]:
print(kalender.__doc__)

print hari jumat

In [27]:
# buat fungsi
def income_employeee():
    status = input('Kategori pegawai (Tetap / Kontrak) : ')
    lembur = input('Berapa jam lembur : ')
    jam_lembur = float(lembur)

In [26]:
income_employee()

Kategori pegawai (Tetap / Kontrak) : Kontrak
Berapa jam lembur : 20

In [56]:
# buat fungsi
gaji = 4_500_000
uang_lembur = 50_000
uang_lembur2 = 30_000
max = 20

def income_employee():

    status = input('Kategori pegawai (Tetap / Kontrak) : ')
    jam_lembur = input('Berapa jam lembur : ')
    lembur = int(jam_lembur)

    if status == 'Kontrak' or status == 'kontrak':

      if lembur <= max:
        lemburan = (uang_lembur2 * lembur)
      else:
        lemburan = (uang_lembur2 * 20)

      pendapatan = (4500000 - (4500000 * 0.7)) + lemburan

    elif status == 'Tetap' or status == 'tetap':

      if lembur <= max:
        lemburan = (uang_lembur * lembur)
      else:
        lemburan = (uang_lembur * 20)

      pendapatan = gaji + lemburan

    else:
      print('Anda salah input')

    pajak = 0.1 * pendapatan
    print('\nTotal uang lembur = {} '.format(lemburan))
    print('Total pendapatan karyawan = {} '.format(pendapatan))

    net_income = pendapatan - pajak
    print('\nPajak yang harus dibayarkan = {} '.format(pajak))
    print('Total pendapatan karyawan setelah dipotong pajak = {} '.format(net_income))

In [57]:
income_employee()

Kategori pegawai (Tetap / Kontrak) : kontrak
Berapa jam lembur : 2

Total uang lembur = 60000
Total pendapatan karyawan = 1410000.0

Pajak yang harus dibayarkan = 141000.0
Total pendapatan karyawan setelah dipotong pajak = 1269000.0

In [58]:
list1 = [10, 8, 6, 4, 2, 0, -2, -4 ]
# versi 1
def ratio_list(list_angka):
    hasil = {
        'positif' : 0,
        'negatif' : 0,
        'nol' : 0
    }
    panjang = len(list_angka)
    for num in list1:
        if num > 0:
            hasil['positif'] += 1
        elif num < 0:
            hasil['negatif'] += 1
        else:
            hasil['nol'] += 1
    for num in hasil:
        hasil[num] = hasil[num]/panjang
    return hasil

ratio = ratio_list(list1)
for i in ratio:
    print('Rasio bilangan %s adalah % .3f'%(i, ratio[i]))

# versi 2
#def ratio_list(list_angka):
    pos, neg, zero = 0, 0, 0

    for num in list_angka:
        if num > 0:
            pos += 1
        elif num < 0:
            neg += 1
        else:
            zero += 1

    rasio_positif = pos / len(list_angka)
    rasio_negatif = neg / len(list_angka)
    rasio_zero = zero / len(list_angka)

  #  return rasio_positif, rasio_negatif, rasio_zero

ratio_list(list1)

Rasio bilangan positif adalah  0.625
Rasio bilangan negatif adalah  0.250
Rasio bilangan nol adalah  0.125

(0.625, 0.25, 0.125)

In [2]:
list1 = [10, 8, 6, 4, 2, 0, -2, -4, 4, 55, 123, 0, 0, 0]

def ratio_list(list_angka):
    pos, neg, zero = 0,0,0

    for num in list_angka:
        if num > 0:
            pos += 1
        elif num < 0:
            neg += 1
        else:
            zero += 1
    
    rasio_pos = pos / len(list_angka)
    rasio_neg = neg / len(list_angka)
    rasio_zero = zero / len(list_angka)

    return rasio_pos, rasio_neg, rasio_zero

ratio_list(list1)

(0.5714285714285714, 0.14285714285714285, 0.2857142857142857)